.gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: auto;
  }
  
  .img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    border: 4px solid #b73de0; 
  }

  .text{ 
    text-align: center;
        font-weight: bold; 
  }

  .icons{
    display: flex;
    height: 30px;
    width: 70px;

  }

  .git{
    color: #b73de0;
     height: 25px;
     width: 25px;
     margin-right: 20px;
     
  }


  .git:hover{
    color: #bf00ff;
     height: 30px;
     width: 30px;
     margin-right: 22px;
  }
  

  .lkd{
    color: #3d63e0;
     height: 25px;
     width: 25px;
   
  }


  .lkd:hover{
    color: #003cff;
     height: 30px;
     width: 30px;
   
  }
  